@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Patrick+Hand&display=swap');
body{ background-color:#58EB24;
color:#9E008B;
font-family:"montserrat" ;
text-align: center;
}

.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }